.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  /* width: 1000px;
  height: 600px;
  border-radius: 10px; */
  max-width: 300px;
  height: auto;
  margin: 150px auto;
  display: flex;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.right-arrow2 {
  position: absolute;
  top: 60%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow2 {
  position: absolute;
  top: 60%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.containerDots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  top: 56%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #f1f1f1;
  margin: 0 15px;
  /* background: #3f3142; */
  cursor: pointer;
}
.dot:nth-child(1){
  background: rgb(0, 0, 0);
}
.dot:nth-child(2){
  background: rgb(150, 144, 144);
}
.dot:nth-child(3){
  background: rgb(255, 255, 255);
}

.dotActive {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #f1f1f1;
  margin: 0 5px;
  cursor: pointer;
}
.dot :active {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #f1f1f1;
  margin: 0 5px;
  cursor: pointer;
}